.panoramic-view-dubai-city-illu-icon {
  width: 100%;
  height: 953px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.desktop-3-child,
.desktop-3-item {
  align-self: stretch;
  position: relative;
  display: none;
}
.desktop-3-child {
  height: 953px;
  background-color: rgba(0, 0, 0, 0.73);
  z-index: 1;
}
.desktop-3-item {
  height: 734px;
  background-color: var(--color-black);
  z-index: 2;
}
.desktop-3-inner {
  left: 628.8px;
  margin-left: 210px;
  z-index: 5;
}
.desktop-3-child1,
.desktop-3-child2,
.desktop-3-inner,
.polygon-icon {
  width: 161.3px;
  height: 158.3px;
  position: absolute;
  margin: 0 !important;
  top: 1136px;
  z-index: 1;
}
.polygon-icon {
  border: 0;
  background-color: transparent;
  outline: 0;
  right: 232px;
  z-index: 5;
}
.desktop-3-child1,
.desktop-3-child2 {
  z-index: 6;
}
.desktop-3-child1 {
  right: 370.9px;
}
.desktop-3-child2 {
  left: 489.9px;
}
.home,
.partners,
.schedule,
.tracks {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  z-index: 2;
}
.home {
  height: 49px;
  width: 55px;
  flex-shrink: 0;
}
.partners,
.schedule,
.tracks {
  min-width: 89px;
}
.partners,
.tracks {
  min-width: 69px;
}
.partners {
  min-width: 80px;
}
.even-more-content,
.home-parent {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.home-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-prompt);
}
.even-more-content {
  width: 494px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.register-now {
  text-decoration: none;
  position: relative;
  font-weight: 500;
  color: inherit;
  white-space: nowrap;
  z-index: 2;
}
.deeper-content,
.more-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.more-content {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.deeper-content {
  width: 905px;
  justify-content: flex-end;
  padding: 0 var(--padding-7xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-prompt);
}
.a-24-hr {
  width: 750px;
  position: relative;
  letter-spacing: 0.04em;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.inner-chandigarh {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-4xl) 0 var(--padding-xl);
}
.register-now1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  z-index: 3;
}
.register-herohacks-button {
  height: 833px;
  width: 667px;
  margin: 0 !important;
  position: absolute;
  bottom: -694px;
  left: 252px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 113px var(--padding-174xl);
  box-sizing: border-box;
  background-image: url(./public/file-2@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  z-index: 2;
}
.hero-hacks-is-here-container {
  margin: 0;
  position: relative;
  font-size: 110px;
  letter-spacing: 0.04em;
  font-weight: 800;
  font-family: inherit;
  filter: drop-shadow(0 4px 6px rgba(255, 255, 255, 0.25));
  text-shadow: 1px 0 0#fff, 0 1px 0#fff, -1px 0 0#fff, 0-1px 0#fff;
  z-index: 4;
  color: var(--color-white);
}
.register-herohacks {
  align-self: stretch;
  flex-direction: row;
  position: relative;
  margin-top: -39px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: #3384ff;
}
.chandigarh-content,
.chandigarh-content-wrapper,
.register-herohacks {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.chandigarh-content {
  flex: 1;
  flex-direction: column;
}
.chandigarh-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 73px 21px;
  box-sizing: border-box;
}
.discord-1-icon,
.instagram-5-1 {
  width: 42px;
  height: 42px;
  position: relative;
  object-fit: contain;
  z-index: 2;
}
.instagram-5-1 {
  height: 32px;
  width: 32px;
}
.instagram-5-1-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) var(--padding-9xs);
}
.linkedin-3-1 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.linkedin-3-1-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
}
.frame-parent,
.inner-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent {
  align-items: flex-start;
  padding: 0 0 430px;
  box-sizing: border-box;
  gap: var(--gap-8xl);
}
.inner-content {
  align-items: flex-end;
  gap: var(--gap-13xl);
}
.schedule1 {
  margin: 0;
  width: 218px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 4;
}
.schedule-title {
  width: 918px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.div,
.div1 {
  align-self: stretch;
  height: 66px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  z-index: 5;
}
.div1 {
  z-index: 6;
  margin-top: -66px;
}
.parent {
  position: absolute;
  top: 46.2px;
  left: 72.8px;
  width: 24.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.polygon-parent {
  height: 158.3px;
  width: 161.3px;
  position: relative;
}
.release-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs);
}
.release-title-child {
  height: 221px;
  width: 1419px;
  position: absolute;
  margin: 0 !important;
  right: -917px;
  bottom: -57px;
  object-fit: contain;
}
.release {
  margin: 0;
  font-weight: 800;
}
.lorem-ispum-cant {
  margin: 0;
}
.release-lorem-ispum-container {
  height: 155px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 4;
}
.release-content-parent,
.release-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.release-title {
  align-self: stretch;
  flex-direction: row;
  position: relative;
  font-size: var(--font-size-5xl);
}
.release-content-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 252px;
  flex-direction: column;
  gap: 24.7px;
}
.frame-item,
.separator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.separator {
  top: 40.7px;
  left: 69.4px;
  font-weight: 500;
  display: inline-block;
  width: 24.6px;
  height: 66px;
  min-width: 24.6px;
  z-index: 5;
}
.polygon-group {
  height: 158.3px;
  flex: 1;
  position: relative;
}
.suitup-verdict-inner {
  width: 221.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
}
.suit-up {
  margin: 0;
  font-weight: 800;
}
.lorem-ispum-cant1 {
  margin: 0;
}
.suit-up-lorem-ispum-container {
  align-self: stretch;
  height: 155px;
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  flex-shrink: 0;
  z-index: 4;
}
.suitup-verdict {
  position: absolute;
  top: 118.7px;
  left: 268px;
  width: 252px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.div2,
.frame-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.div2 {
  top: 46.2px;
  left: 68.4px;
  font-weight: 500;
  display: inline-block;
  width: 24.6px;
  height: 66px;
  min-width: 24.6px;
  z-index: 5;
}
.polygon-container {
  height: 158.3px;
  flex: 1;
  position: relative;
}
.suitup-verdict-child {
  width: 184px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 11px;
  box-sizing: border-box;
}
.verdict {
  margin: 0;
  font-weight: 800;
}
.lorem-ispum-cant2 {
  margin: 0;
}
.verdict-lorem-ispum-container {
  align-self: stretch;
  height: 155px;
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  flex-shrink: 0;
  z-index: 5;
}
.suitup-verdict1 {
  position: absolute;
  top: 0;
  left: 495px;
  width: 252px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.7px;
}
.endgame-content-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.endgame-separator {
  position: absolute;
  top: 46.2px;
  left: 68.3px;
  font-weight: 500;
  display: inline-block;
  width: 24.6px;
  height: 66px;
  min-width: 24.6px;
  z-index: 5;
}
.endgame-content {
  width: 161.3px;
  height: 158.3px;
  position: relative;
}
.endgame {
  margin: 0;
  font-weight: 800;
}
.lorem-ispum-cant3 {
  margin: 0;
}
.endgame-lorem-ispum-container {
  height: 155px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 6;
}
.endgame-content-parent,
.endgame-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.endgame-title {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 15px;
  font-size: var(--font-size-5xl);
}
.endgame-content-parent {
  position: absolute;
  top: 118.7px;
  left: 715.1px;
  width: 267.9px;
  flex-direction: column;
  gap: var(--gap-xl);
}
.suitup-details {
  align-self: stretch;
  height: 452px;
  position: relative;
  text-align: left;
  font-size: var(--font-size-19xl);
}
.suitup-content,
.suitup-content-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.suitup-content {
  width: 983px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 62px;
}
.suitup-content-wrapper {
  width: 1211px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-23xl);
  color: var(--color-white);
}
.top-content {
  width: 1262px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 21px;
  max-width: 100%;
}
.main-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 127px var(--padding-15xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: right;
  font-size: var(--font-size-7xl);
  color: #9bc3ff;
  font-family: var(--font-prompt);
}
.rectangle-div {
  align-self: stretch;
  height: 673px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  z-index: 8;
}
.frame-child1,
.tracks1 {
  position: relative;
  max-width: 100%;
}
.frame-child1 {
  height: 353px;
  width: 646.9px;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  display: none;
}
.tracks1 {
  margin: 0;
  width: 505.4px;
  font-size: inherit;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 6;
}
.ai-ml-blockchain-child,
.rectangle-parent {
  border-radius: var(--br-xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 115px 49px 92px;
  z-index: 5;
}
.ai-ml-blockchain-child {
  width: 646.9px;
  height: 480.3px;
  position: relative;
  display: none;
}
.open-innovation1 {
  font-size: var(--font-size-11xl);
}
.span {
  font-size: var(--font-size-13xl);
}
.open-innovation {
  font-weight: 500;
  font-family: var(--font-prompt);
}
.open-innovation-lorem-ispum {
  margin: 0;
  padding-left: var(--padding-21xl);
}
.open-innovation-container {
  align-self: stretch;
  position: relative;
  z-index: 6;
}
.aiml {
  font-size: var(--font-size-13xl);
  font-weight: 500;
  font-family: var(--font-prompt);
}
.aiml-lorem-ispum-cant-rois {
  margin: 0;
  padding-left: var(--padding-24xl);
}
.aiml-lorem-container {
  align-self: stretch;
  position: relative;
  z-index: 6;
}
.open-innovation-lorem-ispum-parent {
  width: 490.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  max-width: 100%;
  flex-shrink: 0;
}
.block-chain {
  font-size: var(--font-size-13xl);
  font-weight: 500;
  font-family: var(--font-prompt);
}
.block-chain-lorem-ispum-cant {
  margin: 0;
  padding-left: var(--padding-24xl);
}
.block-chain-lorem-container {
  width: 490px;
  height: 78.8px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 6;
}
.ai-ml-blockchain,
.tracks-open-innovation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.ai-ml-blockchain {
  align-self: stretch;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  padding: var(--padding-38xl) var(--padding-38xl) 67px;
  gap: 39.2px;
  z-index: 5;
  font-size: var(--font-size-7xl);
  font-family: var(--font-prompt);
}
.tracks-open-innovation {
  flex: 1;
  gap: 28.7px;
  min-width: 421px;
}
.tracks-open-innovation-child {
  height: 862px;
  width: 646.9px;
  position: relative;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.open-innovation2 {
  margin: 0;
  height: 57.1px;
  width: 295.5px;
  position: relative;
  font-size: inherit;
  margin-left: -125px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  transform: rotate(90deg);
}
.frame-child2,
.open-innovation-parent {
  height: 743px;
  width: 124.4px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.frame-child2 {
  position: relative;
  display: none;
}
.open-innovation-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 258.6px var(--padding-13xl) 188.9px var(--padding-15xl);
  z-index: 1;
}
.aiml1 {
  margin: 0;
  height: 57.1px;
  width: 83.7px;
  position: relative;
  margin-left: auto;  /* nahi hua */
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  transform: rotate(90deg);
}
.aiml-parent,
.frame-child3 {
  height: 743px;
  width: 124.4px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.frame-child3 {
  position: relative;
  display: none;
}
.aiml-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 338.2px 33px 321.1px;
  z-index: 1;
}
.block-chain1 {
  margin: 0;
  height: 58px;
  width: 202px;
  position: relative;
  font-size: inherit;
  margin-left: -80px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  transform: rotate(90deg);
}
.block-chain-parent,
.frame-child4 {
  height: 743px;
  width: 124.4px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.frame-child4 {
  position: relative;
  display: none;
}
.block-chain-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 297.6px var(--padding-13xl) 243.4px;
  z-index: 1;
}
.tracks-open-innovation1 {
  flex: 0.8052;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  justify-content: space-between;
  padding: var(--padding-42xl) var(--padding-43xl) 55px;
  min-width: 421px;
  gap: var(--gap-xl);
  z-index: 5;
  font-size: var(--font-size-13xl);
  font-family: var(--font-prompt);
}
.tracks-content,
.tracks-content-wrapper,
.tracks-open-innovation1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.tracks-content {
  width: 1321px;
  justify-content: center;
  gap: 27.2px;
}
.tracks-content-wrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 47px;
  box-sizing: border-box;
  text-align: left;
  font-size: 120px;
  color: var(--color-white);
  font-family: var(--font-rubik-moonrocks);
}
.detailed-problem-statements {
  position: relative;
  font-weight: 500;
}
.problem-statements {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-43xl);
  text-align: left;
  font-size: 22px;
  color: #9e44ff;
  font-family: var(--font-prompt);
}
.partners1 {
  margin: 0;
  width: 215px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.partners-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-13xl);
}
.apple-1-1,
.apple-1-5 {
  height: 100px;
  width: 100px;
  position: relative;
  object-fit: cover;
}
.apple-1-1 {
  display: none;
  min-height: 100px;
}
.apple-1-5 {
  z-index: 1;
}
.apple-1-1-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url(./public/apple-1-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.apple-1-3 {
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: contain;
}
.frame-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 12px 0 0;
  gap: var(--gap-98xl);
}
.apple-1-2,
.apple-1-4 {
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: contain;
}
.apple-1-4 {
  object-fit: cover;
}
.apple-1-2-parent,
.apple-1-4-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.apple-1-4-wrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.apple-1-2-parent {
  flex-direction: column;
  gap: var(--gap-98xl);
}
.apple-1-11,
.apple-1-31 {
  width: 100px;
  height: 100px;
  position: relative;
  object-fit: cover;
}
.apple-1-1-group,
.frame-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Ensures even spacing between items */
  gap: 56px; 
}
.frame-group {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.partners-content,
.partners-content-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.partners-content {
  width: 635px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 113px;
}
.partners-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-43xl) 53px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-23xl);
  color: var(--color-white);
  font-family: var(--font-prompt);
}
.frame-child5 {
  width: 1440px;
  height: 546px;
  position: relative;
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.contact-us1 {
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.contact-us-wrapper {
  width: 231px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.div3,
.johndoegmailcom {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  white-space: nowrap;
  z-index: 1;
}
.johndoegmailcom {
  color: inherit;
  text-decoration: none;
}
.div3 {
  line-height: 26px;
}
.contact-email,
.contact-us-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-email {
  align-self: stretch;
  gap: 24px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
}
.contact-us-title {
  flex: 1;
  gap: var(--gap-20xl);
  min-width: 170px;
}
.follow-us1 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.discord-1-icon1,
.instagram-5-11 {
  width: 42px;
  height: 42px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.instagram-5-11 {
  height: 32px;
  width: 32px;
}
.instagram-5-1-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
}
.linkedin-3-11 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.linkedin-3-1-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
}
.discord-1-parent {
  flex-direction: column;
  gap: var(--gap-10xl);
}
.contact-us,
.discord-1-parent,
.follow-us {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.follow-us {
  width: 223px;
  flex-direction: column;
  gap: 12px;
  min-width: 223px;
}
.contact-us {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-20xl);
  max-width: 100%;
}
.quick-links1,
.schedule2 {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.quick-links1 {
  width: 223px;
  display: inline-block;
}
.schedule2 {
  flex: 1;
}
.schedule-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.tracks2 {
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.tracks-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.register,
.sponsor-us {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.sponsor-us {
  line-height: 26px;
}
.quick-links,
.quick-links-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.quick-links-items {
  align-self: stretch;
  gap: 9.7px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
}
.quick-links {
  width: 262px;
  gap: 13px;
  min-width: 262px;
}
.contact-follow,
.footer-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.contact-follow {
  width: 835px;
  justify-content: flex-start;
  gap: 50px;
}
.footer-content {
  align-self: stretch;
  justify-content: center;
}
.divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  z-index: 1;
}
.hero-hacks1 {
  margin: 0;
}
.hero-hacks {
  margin: 0;
  height: 149px;
  width: 1127px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 0 4px 6px rgba(255, 255, 255, 0.25);
  transform: rotate(-180deg);
  max-width: 100%;
  z-index: 1;
}
.footer-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.desktop-3,
.divider-parent,
.rectangle-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider-parent {
  align-self: stretch;
  gap: 59px;
  max-width: 100%;
  text-align: left;
  font-size: 150px;
  color: var(--color-white);
  font-family: var(--font-rubik-moonrocks);
}
.desktop-3,
.rectangle-group {
  box-sizing: border-box;
}
.rectangle-group {
  align-self: stretch;
  background-color: var(--color-gray-100);
  padding: var(--padding-38xl) 60px 0 var(--padding-42xl);
  gap: 64px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-prompt);
}
.desktop-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  overflow: hidden;
  padding: var(--padding-24xl) 0 68px;
  gap: 109px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .main-content {
    padding-bottom: 83px;
    box-sizing: border-box;
  }
  .tracks-open-innovation,
  .tracks-open-innovation1 {
    flex: 1;
  }
  .tracks-content {
    flex-wrap: wrap;
  }
  .tracks-content-wrapper {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .register-now1 {
    font-size: var(--font-size-5xl);
  }
  .hero-hacks-is-here-container {
    font-size: 55px;
  }
  .frame-parent {
    padding-bottom: 279px;
    box-sizing: border-box;
  }
  .schedule1 {
    font-size: var(--font-size-15xl);
  }
  .div,
  .div1,
  .div2,
  .endgame-separator,
  .separator {
    font-size: var(--font-size-11xl);
  }
  .suitup-content {
    gap: 31px;
  }
  .main-content {
    padding-bottom: 54px;
    box-sizing: border-box;
  }
  .tracks1 {
    font-size: 48px;
  }
  .aiml1,
  .block-chain1,
  .open-innovation2 {
    font-size: var(--font-size-7xl);
  }
  .tracks-open-innovation1 {
    padding-top: var(--padding-21xl);
    padding-bottom: 36px;
    box-sizing: border-box;
  }
  .partners1 {
    font-size: var(--font-size-15xl);
  }
  .hero-hacks {
    font-size: 60px;
  }
}
@media screen and (max-width: 750px) {
  .even-more-content {
    display: none;
  }
  .inner-content {
    gap: var(--gap-base);
  }
  .suitup-content {
    gap: 15px;
  }
  .rectangle-parent {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .ai-ml-blockchain {
    gap: var(--gap-xl);
    padding: var(--padding-18xl) 28px 44px;
    box-sizing: border-box;
  }
  .tracks-open-innovation {
    min-width: 100%;
  }
  .aiml-parent,
  .open-innovation-parent {
    padding-top: 168px;
    padding-bottom: 123px;
    box-sizing: border-box;
  }
  .aiml-parent {
    padding-top: 220px;
    padding-bottom: 209px;
  }
  .block-chain-parent {
    padding-top: var(--padding-174xl);
    padding-bottom: 158px;
    box-sizing: border-box;
  }
  .tracks-open-innovation1 {
    flex-wrap: wrap;
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .partners-content {
    display: flex;
    flex-wrap: wrap;
    gap: 56px;
  }
  .partners-content-wrapper {
    padding-left: var(--padding-7xl);
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
  .follow-us {
    flex: 1;
  }
  .contact-us {
    flex-wrap: wrap;
    gap: var(--gap-lgi);
    min-width: 100%;
  }
  .quick-links {
    flex: 1;
  }
  .contact-follow {
    flex-wrap: wrap;
  }
  .divider-parent {
    gap: var(--gap-10xl);
  }
  .rectangle-group {
    gap: var(--gap-13xl);
    padding-left: var(--padding-11xl);
    padding-top: var(--padding-18xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .desktop-3 {
    gap: 54px;
  }
}
@media screen and (max-width: 450px) {
  .a-24-hr {
    font-size: var(--font-size-2xl);
  }
  .register-now1 {
    font-size: var(--font-size-lg);
  }
  .hero-hacks-is-here-container {
    font-size: 33px;
  }
  .frame-parent {
    padding-bottom: 181px;
    box-sizing: border-box;
  }
  .schedule1 {
    font-size: var(--font-size-6xl);
  }
  .div,
  .div1 {
    font-size: var(--font-size-4xl);
  }
  .release-lorem-ispum-container {
    font-size: var(--font-size-lgi);
  }
  .separator {
    font-size: var(--font-size-4xl);
  }
  .suit-up-lorem-ispum-container {
    font-size: var(--font-size-lgi);
  }
  .div2 {
    font-size: var(--font-size-4xl);
  }
  .verdict-lorem-ispum-container {
    font-size: var(--font-size-lgi);
  }
  .endgame-separator {
    font-size: var(--font-size-4xl);
  }
  .endgame-lorem-ispum-container {
    font-size: var(--font-size-lgi);
  }
  .main-content {
    padding-bottom: 35px;
    box-sizing: border-box;
  }
  .tracks1 {
    font-size: var(--font-size-11xl);
  }
  .aiml-lorem-container,
  .block-chain-lorem-container,
  .open-innovation-container {
    font-size: var(--font-size-2xl);
  }
  .aiml1,
  .block-chain1,
  .open-innovation2 {
    font-size: var(--font-size-lgi);
  }
  .tracks-open-innovation1 {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-4xl);
    box-sizing: border-box;
  }
  .detailed-problem-statements {
    font-size: var(--font-size-lg);
  }
  .partners1 {
    font-size: var(--font-size-6xl);
  }
  .frame-group {
    flex-wrap: wrap;
    justify-content: center;
  }
  .partners-content {
    gap: 28px;
  }
  .contact-us1 {
    font-size: var(--font-size-2xl);
  }
  .div3,
  .johndoegmailcom {
    font-size: var(--font-size-base);
  }
  .div3 {
    line-height: 21px;
  }
  .contact-us-title {
    gap: var(--gap-lgi);
  }
  .follow-us1,
  .quick-links1 {
    font-size: var(--font-size-2xl);
  }
  .register,
  .schedule2,
  .sponsor-us,
  .tracks2 {
    font-size: var(--font-size-base);
  }
  .sponsor-us {
    line-height: 21px;
  }
  .contact-follow {
    gap: 25px;
  }
  .hero-hacks {
    font-size: 37px;
  }
  .rectangle-group {
    gap: var(--gap-base);
  }
  .desktop-3 {
    gap: var(--gap-8xl);
  }
}
